.zsFormClass {
    background-color: #FFFFFF;
    width: 600px
}

.zsFontClass {
    color: #000000;
    font-family: Arial;
    font-size: 13px
}

.manfieldbdr {
    border-left: 1px solid #ff6448!important
}

.hleft {
    text-align: left;
}

input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
}

.wtcsepcode {
    margin: 0px 15px;
    color: #aaa;
    float: left;
}

.wtccloudattach {
    float: left;
    color: #00a3fe!important;
    cursor: pointer;
    text-decoration: none!important;
}

.wtccloudattach:hover {
    text-decoration: none!important;
}

.wtcuploadinput {
    cursor: pointer;
    float: left;
    width: 62px;
    margin-top: -20px;
    opacity: 0;
    clear: both;
}

.wtcuploadfile {
    float: left;
    color: #00a3fe;
}

.filenamecls {
    margin-right: 15px;
    float: left;
    margin-top: 5px;
}

.clboth {
    clear: both;
}

#zsFileBrowseAttachments {
    clear: both;
    margin: 5px 0px 10px;
}

.zsFontClass {
    vertical-align: top;
}

#tooltip-zc {
    font: normal 12px Arial, Helvetica, sans-serif;
    line-height: 18px;
    position: absolute;
    padding: 8px;
    margin: 20px 0 0;
    background: #fff;
    border: 1px solid #528dd1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #eee;
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 10000;
    color: #777
}

.wtcmanfield {
    color: #f00;
    font-size: 16px;
    position: relative;
    top: 2px;
    left: 1px;
}

#zsCloudAttachmentIframe {
    width: 100%;
    height: 100%;
    z-index: 99999!important;
    position: fixed;
    left: 0px;
    top: 0px;
    border-style: none;
    display: none;
    background-color: #fff;
}

.wtchelpinfo {
    background-position: -246px -485px;
    width: 15px;
    height: 15px;
    display: inline-block;
    position: relative;
    top: 2px;
    background-image: url('https://css.zohostatic.com/support/1229128/images/zs-mpro.png');
}

.zsMaxSizeMessage {
    font-size: 13px;
}

#zohoSupportWebToCase label {
	padding-top: 15px;
}

#zohoSupportWebToCase input[type=submit] {
	margin-top: 15px;
}